#btn{
    background-color: green;
    color: white;
    padding: 5px;
    margin-left: 46%;
    margin-top: 1%;
    
}
.post-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.post{
   width: 300px; 
   padding: 0.5rem;
   border: 1px solid black;
}